* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

html {
  height: 100%;

}

body {
  font-size: 5px;
  background-color: #242424f7;
  color: white;
  height: 100%;
  font-family: 'Source Code Pro', monospace;
}

.container {
  min-height: 100%;
  margin-bottom: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
  
}
nav{
  border-bottom: 4px solid white;
  display: flex;
  justify-content: space-between;

}
.navbar ul {
  display: flex;
}

.navbar li {
  margin: 20px 20px;
  list-style: none;
  transition: all 0.3s ease 0.1s;
}

.navbar li:hover {
  transform: scale(1.1);

}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 1px 1px;
  padding: 10px 10px;
  transition: all 0.3s ease-in-out 0.1s;

}

.navbar a:hover {
  border-radius: 20px;
  background-color: rgb(255, 0, 68);

}

.navbar .active {
  background-color: rgb(255, 0, 68);
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
}

.footer1 {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  color: white;
  height: 60px;
  position: relative;
  bottom: 0;
  width: 100%;

}
.blue-mode .footer1{

  background-color: rgb(0, 112, 131);
}
.yellow-mode .footer1{
background-color: #5C469C;


}
.rights {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.yellow-mode .rights{
  color: black;
  font-weight: 600;
}

.rights img {
  height: 40px;
  margin: 10px;
  border-radius: 20px;
}

.socials img {
  background-color: white;
  height: 30px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 20px 10px;
  transition: all 0.3s ease 0.01s;

}


.socials a {
  text-decoration: none;
}

.socials img:hover {
  transform: scale(1.12);
}

.top-btn-container {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 100;

}

.top-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;

}

#toggleBtn:hover{
  cursor: pointer;
  transform: scale(1.05);

}

#getImage {
  width: 50px;
  border-radius: 10px;
  border-radius: 25%;

}

.top-btn img {
  width: 50px;

}
.blue-mode {
  background: linear-gradient(90deg, rgb(46, 192, 214) 0%, rgb(121, 216, 230)35%, rgb(172, 216, 225) 100%);
  /* background-color: #D4ADFC; */
  color: black;

}

.blue-mode nav {
  background: linear-gradient(90deg, rgb(46, 192, 214) 0%, rgb(121, 216, 230)35%, rgb(172, 216, 225) 100%);
  border-bottom: 3px solid black ;


}

.blue-mode .navbar a {
  color: black;
}

.blue-mode .navbar a:hover {
  color: white;

}

.blue-mode .navbar .active {
  color: #fff;
}

.yellow-mode {
  /* background: linear-gradient(90deg, rgb(255, 255, 83) 10%,rgb(255, 255, 74) 25%,rgb(255, 255, 153) 100%); */
  background: linear-gradient(90deg, #b982f1 0%,#c59bef 35%, #d3b8ee 100%);


  /* background-color: #D4ADFC; */
  color: black;
}


.themeBtn{
  margin: 15px;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  transition: all 0.5s ease ;


}
.themeBtn::before{
  content: "Midnight";
  color: black;
  font-size: 18px;

}

.blue-mode .themeBtn::before{
  content: "Sky";
  color: blue;
}

.yellow-mode .themeBtn::before{
  content: "Amethyst";
  color: black; 
}

.yellow-mode nav {
  /* background: linear-gradient(90deg, rgb(255, 255, 83) 10%,rgb(255, 255, 74) 25%,rgb(255, 255, 153) 100%); */
  background-color: #D4ADFC;
  background: linear-gradient(90deg, #b982f1 0%,#c59bef 35%, #d3b8ee 100%);

  border-bottom: 3px solid rgb(0, 0, 0) ;
}
.yellow-mode  .navbar a {
  color: black;
}
.yellow-mode .navbar a:hover {
  color: white;
}

.yellow-mode  .navbar .active {
  color: #fff;
}
.blue-mode .navbar a:hover {
  background-color:rgb(0, 81, 136);


}


.blue-mode .navbar .active {
  background-color:rgb(0, 81, 136);
  /* background: linear-gradient(90deg, rgb(0, 81, 136) 0%, rgb(24, 110, 168)35%, rgb(55, 117, 158) 100%); */

  color: white;
}


.yellow-mode .navbar a:hover {
  background-color: #A61F69;
  
}
.yellow-mode .navbar .active {
  
  background-color: #A61F69;
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 300px;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p {
  font-size: 15px;
  padding: 6px;
}

